
.btn-group-filters > button{
  border-radius:10px !important;
}

.btn-red {
  background-color: hsl(0, 86%, 30%) !important;
  color: #fff !important;
}
.btn-brown {
  background-color: hsl(27, 86%, 30%) !important;
  color: #fff !important;
}
.btn-orange {
  background-color: hsl(47, 89%, 42%) !important;
  color: #fff !important;
}
.btn-lightgreen {
  background-color: hsl(101, 90%, 41%) !important;
  color: #fff !important;
}
.btn-green {
  background-color: hsl(84, 86%, 30%) !important;
  color: #fff !important;
}
.btn-darkblue {
  background-color: hsl(225, 100%, 14%) !important;
  color: #fff !important;
}
.btn-violet {
  background-color: hsl(299, 100%, 14%) !important;
  color: #fff !important;
}
.btn-darkbrown {
  background-color: hsl(349, 17%, 8%) !important;
  color: #fff !important;
}
.btn-yellow {
  background-color: hsl(62, 100%, 27%) !important;
  color: #fff !important;
}
.btn-gray {
  background-color: hsl(195, 0%, 35%) !important;
  color: #fff !important;
}
.btn-pink {
  background-color: hsl(312, 80%, 43%) !important;
  color: #fff !important;
}
.btn-blue {
  background-color: hsl(195, 60%, 35%) !important;
  color: #fff !important;
}