.post-container {
    margin: 20px 0px 0 25px;  
    border: 1px solid rgba(221, 221, 221, 0.356);
    overflow: auto
}
.post-thumb {
    float: left;
    margin: 20px;
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
.bottom-info{
    margin-left: 210px;
    text-align: center;
}
@media only screen and (max-width: 550px) {
    .post-thumb
    {
        display: none
    }
    .post-content {
        margin-left: 0px
    }
    .bottom-info
    {
        margin-left: 0px
    }
}