<template>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">OcenUczelnie!</a>
      </div>
      <div class="navbar-right">
        <div if.bind="!identityService.isUserLogged()">
          <a class="navbar-brand" href="#/user/register">Rejestracja</a>
          <a class="navbar-brand" href="#/user/login">Logowanie</a>
        </div>
        <div if.bind="identityService.isUserLogged()">
            <a class="navbar-brand" href="#/user/logout">Wyloguj</a>
        </div>
      </div>
    </div>
  </nav>
</template>